@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


*{
  /* background-color: rgb(13, 10, 37); */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit" , sans-serif;
  ;
}

a{
  text-decoration: none;
  color: inherit;
}


.app {
  min-height: 100vh;
  color:white;
  background: linear-gradient(   rgb(31, 26, 57) , rgb(6, 6, 92)   ) ;

}